{% extends 'base.html.twig' %}

{% block title %}
{% if edit %}
Modify User
{% else %}
New User
{% endif %}
{% endblock %}

{% block body %}

<div class="memberForm container">
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% if edit %}
<h1> Modify User </h1>
{% endif %}

{{form_start(form)}}
{{form_row(form.email)}}

{% if edit %}  
{% do form.username.setRendered() %}
{% else %}
   {{form_row(form.username) }} 
{% endif %} 

{% if edit %}  
{% do form.password.setRendered() %}
{% else %}
    {{ form_row (form.password) }}
{% endif %}

{{ form_row(form.roles)}}

<button type="submit" class="btn btn-success" id='addMember'>

{% if edit %}

Save changes

{% else %}

Add user

{% endif %}
</button>

{{form_end(form) }}
</div>
{% endblock %}
