{% extends 'base.html.twig' %}



{% block title %} 
{% if edit %}
Modify a Boarding Game 
{% else %}
Add a Boarding Game
{% endif %}
{% endblock %}

{% block body %}
{% form_theme addForm 'bootstrap_4_layout.html.twig' %}
{% form_theme addForm "@FOSCKEditor/Form/ckeditor_widget.html.twig" %}

{% if edit %}
<h1> Modifiy Game </h1>
{% else %}
<div class="bggForm container">
    <form action="" id="searchBGG">
        <label for="bgg"> Looking on BGG : </label>
        <input name="search" type="text" id="bgameBGG">
        <button  class="btn btn-primary" type="submit"> Search </button>
    </form>

<form action="" id="bggchoice" method="post">
  <p>
    <label for="bggame">Boarding Games Find :</label></br>
        <select name="bggame" id="bggame">
        </select>
      <input type="hidden" name="_method" value="PUT"/>
     <button type="submit" class="btn btn-primary" id="fillForm"> Fill the form </button>   
  </p>  
</form>
</div>

{% endif %}

<div class="addForm container">

{{ form_start(addForm, {'attr':{'id':'addForm'} }) }}
{{ form_row(addForm.name)}}
{{ form_row(addForm.image_bgg) }}
{% if edit %}
    {% if bgame.imagePerso %}
      <img src="{{ asset('uploads/images/'~ bgame.imagePerso) }}" id="image" class="img-fluid img-thumbnail" width=100>
      <button id="deleteImage" data-id="{{bgame.id}}" class="btn btn-danger" type="button">Delete Image</button>
    
    {% endif %}
{% endif %}
{{ form_row(addForm.image_perso, {'label':'My Image'}) }}
{{ form_row(addForm.description)}}
{{ form_row(addForm.duration)}}
{{ form_row(addForm.minNbPlayers)}}
{{ form_row(addForm.maxNbPlayers)}}
{{ form_row(addForm.difficulty)}}
{{ form_row(addForm.mechanism)}}
{{ form_row(addForm.category)}}

<button type="submit" class="btn btn-success">

{% if edit %}

Save changes

{% else %}

Add Game

{% endif %}
</button>

{{form_end(addForm) }}

</div>

  {% block script %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}
 

