{% extends 'base.html.twig' %}

{% block title %}{{bgame.name}}{% endblock %}

{% block body %}

<div class="container">

<section class="row align-items-center">
  <div id="image" class="col-sm-5">   
    <img src="{{bgame.image}}" id="image" class="img-fluid img-thumbnail">
  </div>

  <div id="infos" class="col-sm-7">

   <h1 class="text-center">{{bgame.name}}</h1>
  <p>Accessibility: {{bgame.difficulty.name}}</p>
  <p>Playing Time: {{bgame.duration}} minutes </p>
  <p>Numbre of Players : {{ bgame.minNbPlayers }} to {{ bgame.maxNbPlayers }} players</p>

<div>
  <p>
    <h3>Categories</h3>
    <ul class="list-group list-group-horizontal">
      {% for c in bgame.category %}
      <li class="list-group-item list-group-item-action"> {{c.name}}</li>
      {% endfor %}
     </ul>
  </p>

  <p>
    <h3>Mecanics</h3>
      <ul class="list-group list-group-horizontal">
        {% for m in bgame.mechanism %}
        <li class="list-group-item list-group-item-action"> {{m.name}}</li>
      {% endfor %}
      </ul>
  </p>
</div>
  </div>
</section>

<br>

<div id="description">{{bgame.description | raw}}</div>

</div>


{% endblock %}
