{% extends 'base.html.twig' %}

{% block title %}My Ludo{% endblock %}

{% block body %}


<div class="listGames">
    
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
     
    <th scope="col">Playing Time</th>
      <th scope="col">Min Players</th>
      <th scope="col">Max Players</th>
       <th scope="col">Difficulty</th>
      <th scope="col">Categories</th>
       <th scope="col">Mecanics</th>
    </tr>
  </thead> 
  </thead>
  <tbody>
  {% for bgame in bgames %}
    <tr class="table-secondary">
      <th scope="row"> <a href="{{ path('show_one_bgame', {'id': bgame.id}) }}"> {{bgame.name}}</a> </th>
      <td> {{bgame.description | raw}} </td>     
      <td> {{ bgame.duration }} minutes </td>
      <td> {{ bgame.minNbPlayers }} </td>
      <td> {{ bgame.maxNbPlayers }} </td>
      <td> {{ bgame.difficulty.name }} </td>
      <td> {% for c in bgame.category %}
      {{ c.name }}
        {% endfor %}
      </td>
      <td> {% for m in bgame.mechanism %}
          {{ m.name }}
        {% endfor %} </td>
        <td class='btn-group-vertical align-items-center '>
       <a class="btn btn-primary modify" href="{{path('modify_bgame',{'id':bgame.id})}}">Modify</a> 
        <button data-id={{bgame.id}} type="submit" class="btn btn-danger delete">Delete</button>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table> 

</div>

   {% block script %}
      {{ encore_entry_script_tags('myludo') }}
    {% endblock %}
{% endblock %}
