{% extends 'base.html.twig' %}

{% block title %}A koi kon Joue ???{% endblock %}

{% block body %}

{% form_theme filterForm 'bootstrap_4_layout.html.twig' %}

<div class="filter jumbotron">

 <div class="form-inline justify-content-center align-items-center ">

{{form_start(filterForm,{'id':'filterForm'})}}

<div class="form-row">
    <div class="col-auto">
     <label for="mechanism">Playing Time (min)</label>
      {{form_widget(filterForm.maxDuration)}}
    
    </div>

      <div class="col-auto">
      <label for="mechanism">Number of players</label>
      {{form_widget(filterForm.nbPlayers)}}
    </div>

    <div class="col-auto">
    <label for="mechanism">Difficulty</label>
      {{form_widget(filterForm.difficulty)}}
    </div>

    <div class="col-auto">
    <label for="mechanism">Mecanic</label>
      {{form_widget(filterForm.mechanism)}}
    </div>

    <div class="col-auto">
     <label for="mechanism">Category</label>
      {{form_widget(filterForm.category)}}
    </div>

  </div>

   <div class="form-row justify-content-center align-items-center mt-3">
    
    <button class="btn btn-primary" type="submit">A koi kon Joue ??</button>
 
  </div>

    {{form_end(filterForm)}}

  </div>

</div>

</div>
</div>

{% if bgamesFind %}

<div id="list">
      
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"></th>
     
    <th scope="col">Playing Time</th>
      <th scope="col">Min Players</th>
      <th scope="col">Max Players</th>
       <th scope="col">Difficulty</th>
      <th scope="col">Categories</th>
       <th scope="col">Mecanics</th>
    </tr>
  </thead> 
  <tbody>
  {% for bgame in bgames %}
    <tr class="table-secondary">
      <th scope="row"> <a href="{{ path('show_one_bgame', {'id': bgame.id}) }}"> {{bgame.name}}</a> </th>
      <td> 
       {% if bgame.imagePerso %}
      <img src="{{asset('uploads/images/'~ bgame.imagePerso)}}" id="image" class="img-fluid img-thumbnail" width=100>
      {% else %}
      <img src="{{bgame.imageBgg}}" id="image" class="img-fluid img-thumbnail" width=100>
      {% endif %}
      </td>     
      <td> {{ bgame.duration }} minutes </td>
      <td> {{ bgame.minNbPlayers }} </td>
      <td> {{ bgame.maxNbPlayers }} </td>
      <td> {{ bgame.difficulty.name }} </td>
      <td> {% for c in bgame.category %}
      <li>{{ c.name }}</li>
        {% endfor %}
      </td>
      <td> {% for m in bgame.mechanism %}
         <li> {{ m.name }}</li>
        {% endfor %} </td>
    </tr>
   {% endfor %}
  </tbody>
</table> 


</div>

{% else %}

<div> <p>No game matches your search. Try again</p></div>

{% endif %}
{% endblock %}
