{% extends 'base.html.twig' %}

{% block title %}{{bgame.name}}{% endblock %}

{% block body %}

<div class="container">
  {% if is_granted('ROLE_ADMIN') %}
  <div class='text-center p-2' id='admin'>
  <a class="btn btn-primary modify" href="{{path('modify_bgame',{'id':bgame.id})}}">Modify</a> 
  </div>

{% endif %}

  <section class="row align-items-center">
    <div id="image" class="col-sm-4">   
    {% if bgame.imagePerso %}
      <img src="{{ asset('uploads/images/'~ bgame.imagePerso) }}" id="image" class="img-fluid img-thumbnail">
    {% else %}
    <img src="{{bgame.imageBgg}}" id="image" class="img-fluid img-thumbnail">
    {% endif %}
    </div>

    <div id="infos" class="col-sm-8">

      <h1 class="text-center">{{bgame.name}}</h1>
      <p><strong>Accessibility :</strong> {{bgame.difficulty.name}}</p>
      <p><strong>Playing Time:</strong> {{bgame.duration}} minutes </p>
      <p><strong>Number of Players : </strong>{{ bgame.minNbPlayers }} to {{ bgame.maxNbPlayers }} players</p>

      <p>
        <h4>Categories</h4>
        <ul class="list-group list-group-horizontal">
          {% for c in bgame.category %}
          <li class="list-group-item list-group-item-action"> {{c.name}}</li>
          {% endfor %}
        </ul>
      </p>

      <p>
        <h4>Mechanics</h4>
          <ul class="list-group list-group-horizontal">
            {% for m in bgame.mechanism %}
            <li class="list-group-item list-group-item-action"> {{m.name}}</li>
          {% endfor %}
          </ul>
      </p>
    </div>
  </section>
</div>
  <br>

  <section id="description">
    <h3>Description</h3>
      {{bgame.description | raw}}

  </section>




{% endblock %}
